html {
    font-size: 18px;
    line-height:1.75;
    scroll-behavior: smooth;
}
body {
    padding:0;
}
mark {
    background-color: var(--highlight-secondary);
    border-radius:var(--radius);
    padding:1rem .5rem .5rem;
    margin: 1rem 0;
    display:block;
}
figure {
    margin:1rem 0;
}
figcaption {
    color: var(--primary);
    font-style: italic;
    font-size: 1em;
    padding-left:0
}
img {
    border-radius: var(--radius)
}
header {
    padding-bottom: 3rem;
    max-width:50em;
    position: relative;
}
header h1 {
    display:flex;
    align-items: center;
}
header h1 abbr {
    display: block;
    background-color: #ffffff;
    color: var(--secondary);
    border-radius: 50%;
    font-size: 1.5rem;
    margin-right: .2rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
    flex-shrink: 0;
}
header p {
    border:2px solid var(--highlight-secondary);
    padding:1rem;
    border-radius:var(--radius);
    position: absolute;
    right:2rem;
    top:8rem;
    
}
nav {
    background:var(--highlight-secondary);
    color: var(--secondary);
    padding:1rem;
}
nav h2 {
    margin:0;
}
nav ul {
    margin:0;
    list-style:none;
    padding:0;
}
nav ul li {
    position:relative;
    padding-left:1rem;
}
nav ul li:before {
    content: "#";
    position:absolute;
    left:0;
    top:center;
}
nav a {
    color:var(--secondary);
}
main {
    position: relative;
    z-index:10;
}
article {
    background-color: var(--secondary);
    position: relative;
    padding: 0 1rem 1rem;
    margin: 0 0 1rem;
    color:var(--highlight-primary);
    display:flex;
    flex-direction: column;
}

article h2 {
    padding: 1rem 1rem .525rem;
    margin:0 -1rem;
    background: var(--highlight-primary);
    color:var(--secondary);
    align-self: flex-start;
    border-radius: 0 0 var(--radius) 0;

}
article h3 {
    color: var(--primary)
}
article p {
    border:2px solid var(--highlight-primary);
    padding:1rem;
    border-radius:var(--radius)
}
article p:first-of-type {
    border:2px solid var(--highlight-primary);
    background-color:var(--highlight-primary);
    color:var(--secondary);
    padding:1rem;
    border-radius:var(--radius)
}
table {
    color: var(--secondary);
    margin-bottom: 1rem;
    font-size: .9em;
    padding:2rem 0 0;
    font-size: .85em;
}
table caption {
    color: var(--secondary);
    font-style: italic;
    font-size: 1em;
    margin-bottom: -1rem;
    border-bottom: 2px solid var(--secondary);
}
table * {
    text-align:left;
    vertical-align: top;
    padding:.5rem 1rem;
}
th:first-of-type {
    width:2rem
}
table th {
    width:20%;
}
table sup {
    padding-right: 0;
}
table#leerresultaten tbody th {
    white-space: nowrap;
    vertical-align: top;
}
table#organogram tr:nth-of-type(2) th {
    vertical-align: bottom;
}
div.scrollable {
    overflow-x:auto;
    background: var(--highlight-primary);
    border-radius: var(--radius);
}
footer {
    position: relative;
    z-index:10;
    padding-top:1rem;
}
footer div {
    margin-top:3rem;
}

@media (min-width:50em) {
    body {
        display:grid;
        padding:1rem;
        grid-template-columns: 60vw 40vw;
        grid-template-areas: 
            "header header"
            "main nav"
            "footer .";
    }
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
    }
    nav {
        grid-area: nav;
        position: fixed;
        right:1rem;
        top:16rem;
        border-radius:var(--radius);
        width:42vw;
        z-index:1;
        padding:2rem 2rem 2rem 4rem;
        border-radius:var(--radius);
    }
    nav h2 {
        margin:0 0 0 2rem;
    }
    nav ul {
        padding:0 2rem
    }
    nav ul li {
        white-space: nowrap;
    }
    footer {
        grid-area: footer;
    }
    

    article {
        border: 2px solid var(--highlight-primary);
        border-radius: 0 var(--radius) var(--radius) var(--radius);
        margin-top: 5rem;
        margin-bottom:8rem;
    }
    article h2 {
        top: -4.2rem;
        left: -2px;
        position: absolute;
        border-radius: var(--radius) var(--radius) 0 0;
        margin:0;
    }
    footer div {
        margin-top:1rem;
    }
}