html {
    font-size: 18px;
    line-height:1.75;
}
mark {
    background-color: var(--highlight-secondary);
    border-radius:var(--radius);
    padding:1rem .5rem .5rem;
    margin:-1rem 0 1rem;
    display:block;
}
figure {
    margin:1rem 0;
}
figcaption {
    color: var(--primary);
    font-style: italic;
    font-size: 1em;
    padding-left:0
}
img {
    border-radius: var(--radius)
}
header {
    padding-bottom: 3rem;
    max-width:50em;
    position: relative;
}
header h1 {
    display:flex;
    align-items: center;
}
header h1 abbr {
    display: block;
    background-color: #ffffff;
    color: var(--secondary);
    border-radius: 50%;
    font-size: 1.5rem;
    margin-right: .2rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
    flex-shrink: 0;
}
header p {
    border:2px solid var(--highlight-secondary);
    padding:1rem;
    border-radius:var(--radius);
    position: absolute;
    right:3rem;
    top:8rem;
    
}
main,
footer {
    max-width:50em;
}
article {
    border: 2px solid var(--highlight-primary);
    position: relative;
    padding: 1rem;
    border-radius: 0 var(--radius) var(--radius) var(--radius);
    margin: 5rem 0 1rem;
    color:var(--highlight-primary)
}

article h2 {
    padding: 1rem 1rem .525rem;
    position: absolute;
    top: -4.2rem;
    left: -2px;
    margin:0;
    background: var(--highlight-primary);
    border-radius: var(--radius) var(--radius) 0 0;
    color:var(--secondary)
}
article h3 {
    color: var(--primary)
}
article p {
    border:2px solid var(--highlight-primary);
    padding:1rem;
    border-radius:var(--radius)
}
article p:first-of-type {
    border:2px solid var(--highlight-primary);
    background-color:var(--highlight-primary);
    color:var(--secondary);
    padding:1rem;
    border-radius:var(--radius)
}
table {
    color: var(--secondary);
    margin-bottom: 1rem;
    font-size: .9em;
    padding:2rem 0 0;
    font-size: .85em;
}
table caption {
    color: var(--secondary);
    font-style: italic;
    font-size: 1em;
    margin-bottom: -1rem;
    border-bottom: 2px solid var(--secondary);
}
table * {
    text-align:left;
    vertical-align: top;
    padding:.5rem 1rem;
}
th:first-of-type {
    width:2rem
}
table th {
    width:20%;
}
table sup {
    padding-right: 0;
}
table#leerresultaten tbody th {
    white-space: nowrap;
    vertical-align: top;
}
table#organogram tr:nth-of-type(2) th {
    vertical-align: bottom;
}
div.scrollable {
    overflow-x:auto;
    background: var(--highlight-primary);
    border-radius: var(--radius);
}